# Use Unix line endings
*.css text eol=lf
*.gradle text eol=lf
*.groovy text eol=lf
*.html text eol=lf
*.java text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf
gradlew text eol=lf

*.bat text eol=crlf

*.gif binary
*.png binary
*.jar binary
*.tgz binary
