# Denylist files/folders in same directory as the .gitignore file
/*

# Allowlist our source files
!/.github/
!/gradle/
!/src/
!/saspackage/
!/.gitignore
!/.gitattributes
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/README.md
!/settings.gradle

# Denylist things created by the build, tools or OS under allowlisted directories

# Some common file extensions we should ignore
/saspackage/build/
/src/generated/
/src/**/*~
/src/**/.gradle
/src/**/*.swp
/src/**/*.bak
/src/**/*.log
