# Project Skeleton

This is a basic project skeleton for a new SAS Spring Boot microservice.

There are several items that need updates specific to your project.
These include:

   * **build.gradle**  
   Update buildscript and/or project dependencies as necessary.
   This project uses the SAS Viya Platform Gradle plugins to configure dependency management based on the Viya Service
   and saspackage project types. See [SAS Viya Platform](https://gitlab.sas.com/petrichor/sas-viya-platform-dependencies/blob/master/README.md)
   for additional information regarding those Gradle plugins.
   * **gradle.properties**  
   Supply appropriate values for the `group` and `team` properties.
   * **settings.gradle**  
   Supply an appropriate value for the `rootProject.name` property.
   * /src/main/java/**com/sas/changeme** subdirectory tree  
   Update with appropriate values to match the change made to the `group` property in the gradle.properties file.
   * **saspackage/internal-data** subdirectory tree  
   The subdirectory contains a separate README.md file to guide you in providing
   appropriate packaging data for your project.  Updates to this directory tree
   will need to be made so that successful packaging will take place.
   * **saspackage/build.gradle**  
   The source block of the OnePM Gradle Source DSL will need to be updated if the artifact
   produced by this project is not a jar file.  For example, if the artifact produced
   is a war file, then you should change the @jar to @war instead.
   See [OnePM Gradle Source DSL](https://gitlab.sas.com/gradle-plugins/onepm/blob/master/README.md#onepm-gradle-source-dsl)
   for additional information regarding the DSL.  
   * **saspackage/gradle.properties**  
   This file is NOT provided by default. Generally, the only property that might be present is runlevelPriority.  If your microservice requires this property, then you should create the saspackage/gradle.properties file and set runlevelPriorty to the appropriate value.

## Java

This skeleton project requires Java 11. Make sure you have downloaded,
installed, and set `JAVA_HOME` to Java 11 before attempting to do
anything with gradle.

## Gradle

This project uses SAS gradle plugins (via `apply plugin: 'pangea'`, see
[gradle-plugins](http://sww.sas.com/saspedia/Continuous_Delivery_Pipeline_Gradle_plugins)
for more information). The dependency information for this project is produced by combining the `group` property value from the `gradle.properties` file, the `rootProject.name` property value from the `settings.gradle` file, and the `version` property value generated by the `cdp-release-management` gradle plugin. For this skeleton project, the dependency that is built is `com.sas.changeme:microservice:0.0.1-SNAPSHOT`.

The maven repository location is a combination of the repository_contextUrl and team properties specified in the `gradle.properties` file.  This is generated via the `cdp-team-repositories` gradle plugin which is included by pangea's inclusion of the `satisfactory` gradle plugin. 

## Spring Boot

The src directory has a basic skeleton `ProjectConfiguration.java` Spring
`@Configuration` class. The built artifact is runnable by virtue of the
main method in the `Application.java` class. The magic of Spring Boot is
supplied via the `@EnableAutoConfiguration` annotation.

There is also a skeleton Spring MVC `@Controller` class in this project.

These various annotations and configuration classes could all be rolled
into a single class, but separating them keeps things a little bit cleaner
and easier to maintain.

## Git

The included `.gitignore` file uses the recommended allowlist approach discussed
in the `cdp-release-management` plugin [documentation](https://gitlab.sas.com/gradle-plugins/cdp-release-management/blob/master/README.md)
.

## Configuration Properties

### Default Values
The default application/service configuration properties are specified in
src/main/resources/application.yml (or alternatively application.properties).
An application/service should make every effort to provide default values
that allow it to run immediately without user customization and property
changes.

### Overriding Properties
Default values from application.yml can be overridden by settings in Consul,
environment variables, etc.
(See http://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html
for complete list and order of precedence.
Note that Consul settings trump all other.
This is enabled by including a runtime dependency on the
spring-cloud-consul-config module.)

Because this project includes the spring-cloud-consul-config module,
the service attempts to connect to Consul during startup,
which is located via the spring.cloud.consul.host property.  
When running outside of a docker environment
(such as on your local machine outside of the dev image), 
this property should be set to the URL of the dev image's Apache server.
(This is accomplished in this project via the 'dev' profile.
See the next section for more details.)
If Consul is not available in your environment,
the code can be disabled by running the following command at your bash prompt
prior to running 'gradle bootRun': 
```
$ export SPRING_CLOUD_CONSUL_ENABLED=false
```

If consul integration is disabled via the
spring.cloud.consul.enabled=false switch,
then you will need to specify the URL of the load balancer using the
sas.url.httpd property.
You should set this to the host and port of the httpd container
in your dev image instance.
(This to is handled by the 'dev' profile in this project.
See the next section for more details.)
```
$ export sas.url.httpd=http://localhost
```

### Profiles
The default spring profile will include all properties defined in
application.yml.
This project includes an additional file, application-dev.yml.
If the dev profile is active, these additional properties are 
included, potentially trumping values previously defined in application.yml.
To activate the dev profile,
type the following command at your bash prompt prior to running
'gradle bootRun':
```
$ export SPRING_PROFILES_ACTIVE=dev
```

## README.md

This skeleton project includes a `README.md` file. This is written in
markdown syntax. It is a best practice to include a `README.md` in every git
repository that explains the pre-requisites of the project and includes
directions on how to get started using or contributing to the project.

Writing a `README.md` forces you to acknowledge any workarounds, hacks, or
pre-requisites that are needed for the project. This typically forces you
to improve the quality of the software and serves as a running todo list of
things that should be done to improve the user experience.
